*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100%;
    background: linear-gradient(#FFE162,#FF6464)

}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #91C483;
    width: 400px;
    height: 100vh;
    margin:auto;
    position: relative;
    border-radius: 50%;
    font-family: fantasy;

}

.wrapper > div {
    margin: 10px;
}

.footer {
    position: absolute;
    bottom: 0px;
    background-color: #EEEEEE;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 50%;
    color: #19282F;
    background-color: #B33030;
}

button:hover {
    color: #B33030;
    background-color: #19282F;
}
input {
    border-radius: 50%;
    text-align: center;
    padding: 9px 20px;
}

img {
    border-radius: 50%;
    width: 150px;
    margin-bottom: 10px;
}

.header {
    text-align: center;
}

.header h1 {
    color: #3b320e;
    font-weight: 500;
}

p {
    letter-spacing: 2px;
}

.remain span {
    letter-spacing: 2px;

}